<div id="get_user">

    <!-- <div id="single-content" style="text-align: center; text-transform: capitalize;">
         <strong><%= user.login %></strong>
         <br><br>
         <!--<strong>Role</strong> : <%= user.role %>-->
       <!-- <strong><%= user.role %></strong>
        <br><br>
        <div id="UserName"></div>
        <strong><%= user.name %></strong>
        <!--get_the_author_meta( 'first_name' )-->

<!--
        <script>
            //checkUserDetails();
            $(document).ready(function () {


                jQuery(document).ready(function ( $ ) {

                    var root_url = "http://104.238.96.209/~project/newsletter/wp-json/wp/v2/";
                    var users_display = document.getElementById('users');
                    var post_display = document.getElementById('users-posts');


                    $.ajax({
                        "url": root_url + 'users' + '/',
                        "method": "GET"
                    }).success(function ( users ) {
                        if ('object' == typeof users) {
                            var markup;
                            $.each(users, function ( i, user ) {
                                markup = '<div class="user" id="user-' + user.id + '"><img src="' + user.avatar_urls[96] + '" /><a href="#" class="user-link" data-user-id="' + user.id + '">' + user.name + '</a></div>';
                                $(users_display).append(markup);
                                // var userID = user.id;

                                console.log(markup);

                            });
                        }
                        $('.user-link').on('click', function ( e ) {
                            e.preventDefault();
                            id = $(this).attr('data-user-id');
                            $.ajax({
                                "url": root_url + 'posts?author=' + id,
                                "method": "GET"
                            }).success(function ( posts ) {
                                $(users_display).hide();
                                $.each(posts, function ( i, post ) {
                                    markup = '<div class="post" id="post-' + post.id + '"><a href="' + post.link + '" class="post-link" data-post-id="' + post.id + '">' + post.title.rendered + '</a></div>';
                                    $(post_display).append(markup);
                                });
                                $(post_display).append('<a href="#" id="close-posts">Close</a>');
                                $('#close-posts').on('click', function ( e ) {
                                    e.preventDefault();
                                    $(post_display).empty();
                                    $(users_display).show();


                                });
                            })

                        });
                    });
                });
            });

            var MyID = localStorage.getItem('useruid');
            alert(MyID);
        </script>
    </div>
    <div id="main">
        <div id="users"></div>
        <div id="users-posts"></div>-->
    </div>