<div class="top-banner">&nbsp;</div>
<div class="container" id="container">
    <!--<div class="container" id="app-canvas">-->
    <nav id="heading-brand" class="navbar navbar-default navbar-fixed-top m-right-panel m-page scene_element scene_element--fadeinright"
           role="navigation">
          <div class="navbar-header" id="app-title">
            <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>-->
           <!--   <span class="navbar-brand refresh-button-wrapper">
                   <a href="#" id="refresh-button" class="navbar-brand m-aside scene_element scene_element--fadein"><span
                          class="flaticon-reload"></span></a>
                   <a href="#" id="go-back" class="navbar-brand m-aside scene_element scene_element--fadein"
                     style="display:none"><span class="flaticon-back"></span></a>
              </span>-->
              <!--<span class="navbar-brand"><a href="#"><%= app_title %></a></span>-->
              <span class="navbar-brand"><a href="#"><span id="site-logo" class="logo">
                  <img src="img/logocps.png" style="height: auto; width: 160px;">
              </span> </a></span>
          </div>
        <div class="collapse navbar-collapse m-right-panel m-aside scene_element scene_element--fadein" id="navbar-collapse">
              <%= menu %>
          </div>
      </nav>
    <div id="feedback"
         style="display:none; background: transparent !important; color: #fff; background: #d10000;"></div>


    <div class="index m-scene" id="app-canvas">

        <%= content %>


    </div>

    <footer class="footer" data-role="footer">
        <div class="col-md-12">
            <div class="col-md-6" style="float: left; text-align: center;"><a id="homeBtn" href="#component-latest-newsletters"
                                                                              class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left"><span
                    class="fa flaticon-house"></span></a>
                <label>Home</label></div>
            <!-- <div class="col-md-3"><a href="#component-allnewsletters"
                                  class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left"><span
                 class="fa flaticon-copy"></span></a></div>
         <div class="col-md-3"><a href="#" onclick="feedback();"
                                  class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left"><span
                 class="fa flaticon-chat-1"></span></a></div>-->


            <!--   <div class="popover popover-menu modal-in" style="display: block; top: 307px; left: 416px;">
                 <div class="popover-angle on-bottom" style="left: 201px;"></div>
                 <div class="popover-inner">
                     <div class="list-block">
                       <%= menu %>

                    </div>
                </div>
            </div>

-->
            <!--<div id="popoverpop" class="popover popover-menu modal-in" style="display: block; top: -270px !important; left: 18px;">
                <div class="popover-angle on-bottom" style="left: 200px;"></div>
                <div class="popover-inner">
                    <div class="list-block">
                        <ul>
                            <!--<li><a href="modals.html" class="list-button item-link">Modals</a></li>
                            <li><a href="popover.html" class="list-button item-link">Popover</a></li>
                            <li><a href="tabs.html" class="list-button item-link">Tabs</a></li>
                            <li><a href="panels.html" class="list-button item-link">Side Panels</a></li>
                            <li><a href="list-view.html" class="list-button item-link">List View</a></li>
                            <li><a href="index.html" id="logout" class="list-button item-link">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>-->

            <div id="userbtn" class="col-md-6" style="float: left; text-align: center;">
               <!-- <a href="#" data-popover=".popover-menu"
                   class="open-popover link ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left"
                   id="popovertrigger"><span class="fa flaticon-avatar"></span></a>-->
                <a href="#" id="refresh-button" class="navbar-brand m-aside scene_element scene_element--fadein" style="display: block;"><span class="flaticon-reload"></span></a>
                <label>Refresh</label>

            </div>

        </div>
    </footer>
    <div class="modal-overlay"></div>
    <div id="waiting" style="display:none"></div>
    <div class="loader" style="display: none;"></div>
    <!--<div id="theme-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" id="theme-modal-header">
                    <button type="button" class="close" id="theme-modal-close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" id="theme-modal-body">
                </div>
                <div class="modal-footer" id="theme-modal-footer">
                </div>
            </div>
        </div>
    </div>

            -->

</div>

<!--<script src="http://104.238.96.209/~project/newsletter/wp-content/plugins/wti-like-post/js/wti-like-post.js?callback=myFunction=likePost"></script> -->