<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Ionic Modal</title>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>
<body ng-controller="AppCtrl">

<ion-header-bar class="bar-positive">
    <h1 class="title">Contacts</h1>
</ion-header-bar>
<ion-content padding="true">
    <button class="button button-block button-stable" ng-click="openModal()">
        View Full Image
    </button>
</ion-content>

<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-stable">
            <h1 class="title">View Image</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
        </ion-header-bar>
        <ion-content class="padding" scroll="false">

            <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1"
                        scrollbar-x="false" scrollbar-y="false">
                <img ng-src="{{imgUrl}}">
            </ion-scroll>

        </ion-content>
    </ion-modal-view>
</script>

</body>
</html>
